<div>
  <h2>Course Registration Form</h2>

  @if (!submitted) {
    <form #f="ngForm" (ngSubmit)="onSubmit()">
      <label>
        Student ID:
        <input type="text" name="id" required [(ngModel)]="model.id" #id="ngModel">
      </label>
      @if (id.invalid && id.touched) {
        <div>ID is required</div>
      }
      <label>
        Name:
        <input type="text" name="name" required [(ngModel)]="model.name" #name="ngModel">
      </label>
      @if (name.invalid && name.touched) {
        <div>Name is required</div>
      }
      <div>
        <label>Courses:</label><br>
        @for (course of courses; track course) {
          <div>
            <input type="checkbox" name="courses" [value]="course" [checked]="isSelected(course)" (change)="onCourseChange($event, course)" >
            {{ course }}
          </div>
        }
      </div>
      <button type="submit" [disabled]="f.invalid">Submit</button>
      <button type="button" (click)="resetForm(f)">Reset</button>
    </form>
  }

  @if (submitted) {
    <div>
      <h3>Form Submitted!</h3>
      <p><strong>ID:</strong> {{ model.id }}</p>
      <p><strong>Name:</strong> {{ model.name }}</p>
      <p><strong>Courses:</strong> {{ model.courses.join(', ') }}</p>
      <button (click)="submitted = false">Edit</button>
    </div>
  }
</div>
